$size: 325px;

.LoginForm {
    background: rgba($color: #080808, $alpha: 0.6);
    color: #fff;
    border-radius: 35px;
    max-height: $size;
    height: 100vh;
    max-width: $size;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    h1 {
        text-align: center;
        padding-top: 30px;
    }

    .Center {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        width: 100%;
        left: 0px;
    }

    .Bottom {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);

        .button {
            width: 100%;
            cursor: pointer;
            text-decoration: none;
            background: #0086F8;
            color: white;
            border: none;
            border-radius: 7px;
            transition: 0.3s;

            &:hover {
                background: #005cac;

            }
        }
    }

    input {
        display: block;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 85%;
        padding: 10px 15px;

        &:first-of-type {
            margin-bottom: 15px;
            margin-top: 25px;
        }
    }
}