$size: 325px;

.LoginForm {
    background: rgba($color: #080808, $alpha: 0.6);
    color: #fff;
    border-radius: 35px;
    max-height: $size;
    height: 100vh;
    max-width: $size;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    h1 {
        text-align: center;
        padding-top: 30px;
    }

    .Center {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        width: 100%;
        left: 0px;
    }
    }
}